```
# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
.ENV
.ENV.local
.env
.env.local
.env.*
.env.local.*
.env.vault
.python-version
.pytest_cache/
.mypy_cache/
.coverage
coverage/
htmlcov/
*.cover
*.log
*.tmp
*.swp
*.swo
.DS_Store
Thumbs.db
```